#yellow {
    height: 50px;
}

#purple {
    height: 50px;
}

#red {
    height: 50px;
}

#orange {
    height: 50px;
}

footer {
    text-align: center;
    font-size: 10pt;
}

p {
    color: black;
    font-size: 14pt;
    font-weight: bolder;
}

body {
    
}
